Task

Task
create some emp class -->
Tcs,HCL,Infy


id = 23
obj --> TCS23 , HCL23, Infy23 

Name => malik basha
name -> Firstname,lastname ==> only(HCL) 

salary ==> 30000
TCS => 2 floating point (30000.00)
HCL => 10% detect and show (27000)
Infy => Annual (30000*12=360000)

TCS -> show
location => siruseri , chennai , dob

HCL -> show
Gender, Bloodgroup , doj

Infy->show
Exp, mobile, Address, aadhar

In [158]:
class emp:
    def __init__(self,Name,ID,Salary):
        self.name= Name
        self.id= ID
        self.salary = Salary
        
class TCS(emp):
    def name_update(self):
        print('Employee Name: ',self.name)
        
    def ID_update(self):
        print('Employee ID:TCS'+self.id)  
        
    def salary_update(self):
        self.salary = f'{self.salary:.2f}'
        print('Employee salary:',self.salary) 
        
    def show(self,Location,DOB):
        self.location = Location 
        self.dob = DOB
        print('Location:',self.location)
        print('Date of Birth:',self.dob)
            
class HCL(emp):
    def name_update(self):
        self.name = self.name.split(' ')
        print('Employee First Name: ',self.name[0],'\nEmployee Second Name: ',self.name[1])
        
    def ID_update(self):
        print('Employee ID: HCL'+self.id)
        
    def salary_update(self):
        self.salary = int(self.salary - (0.1*self.salary))
        print('Employee Salary:',self.salary)
        
    def show(self,Gender,Bloodgroup,DOJ):
        self.gender = Gender
        self.bloodgroup = Bloodgroup
        self.doj = DOJ
        print('Gender:',self.gender)
        print('Blood Group:',self.bloodgroup)
        print('Date of Joining:',self.doj)
        
class Infosys(emp):
    def name_update(self):
        print('Employee Name:',self.name)
              
    def ID_update(self):
        print('Employee ID: Infoys'+self.id)
              
    def salary_update(self):
        self.salary = self.salary*12
        print('''Employee's Annual Salary:''',self.salary)
              
    def show(self,Experience,Mobile_No,Address,Aadhar):
        self.exp = Experience
        self.mob = Mobile_No
        self.address = Address
        self.aadhar = Aadhar
        print('Experience:',self.exp)
        print('Mobile Number:',int(self.mob))
        print('Address:',self.address)
        print('Aadhar:',int(self.aadhar))
              
    
print('TCS Employee Details:-')   
tcs = TCS('James Cameron','68',30000)
tcs.name_update()
tcs.ID_update()
tcs.salary_update()
tcs.show('Siruseri,Chennai','16/08/1954') 

print('\nHCL Employee Deetails:-')
hcl = HCL('Manik Basha','23',30000)
hcl.name_update()
hcl.ID_update()
hcl.salary_update()
hcl.show('Male','o+ve','14/07/2023')

print('\nInfosys Employee Details:-')
inofys = Infosys('Santhosh','26',30000)
inofys.name_update()
inofys.ID_update()
inofys.salary_update()
inofys.show('4',9876543210,'chennai',123456789)

TCS Employee Details:-
Employee Name:  James Cameron
Employee ID:TCS68
Employee salary: 30000.00
Location: Siruseri,Chennai
Date of Birth: 16/08/1954

HCL Employee Deetails:-
Employee First Name:  Manik
Employee Second Name:  Basha
Employee ID: HCL23
Employee Salary: 27000
Gender: Male
Blood Group: o+ve
Date of Joining: 14/07/2023

Infosys Employee Details:-
Employee Name: Santhosh
Employee ID: Infoys26
Employee's Annual Salary: 360000
Experience: 4
Mobile Number: 9876543210
Address: chennai
Aadhar: 123456789